# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [41]:
#loading the csv file
city_data_df = pd.read_csv('../WeatherPy/output_data/city_data.csv')

#cleaning up the data, dropping a "Unnamed: 0" column
city_data_df = city_data_df.drop(columns="Unnamed: 0")

city_data_df.head(30)

,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,New Plymouth,-39.07,174.08,57.00,68,12,15.01,NZ,1600234364
1,Kapaa,22.08,-159.32,80.60,69,20,10.29,US,1600233949
2,Atuona,-9.80,-139.03,78.33,76,1,18.63,PF,1600234364
3,Emporia,38.40,-96.18,62.60,88,1,6.93,US,1600234365
4,Fallon,39.47,-118.78,60.80,44,90,5.82,US,1600234365
5,Punta Arenas,-53.15,-70.92,30.20,86,0,13.87,CL,1600234365
6,Avarua,-21.21,-159.78,73.40,78,70,11.41,CK,1600234365
7,Jamestown,42.10,-79.24,51.01,87,1,8.05,US,1600234366
8,Moose Factory,51.26,-80.61,48.20,87,90,4.70,CA,1600234366
9,Albany,42.60,-73.97,48.00,78,4,3.13,US,1600234248
10,Cidreira,-30.18,-50.21,59.61,91,100,16.51,BR,1600234367
11,Onega,63.91,38.14,47.37,80,30,2.64,RU,1600234367
12,Igarka,67.47,86.58,59.52,63,3,11.97,RU,1600234367
13,Hobart,-42.88,147.33,62.60,39,75,19.46,AU,1600233934
14,Mataura,-46.19,168.86,52.00,86,100,11.99,NZ,1600233958
15,Gao,16.64,1.64,87.60,29,0,6.60,ML,1600234368
16,Narsaq,60.92,-46.05,42.80,81,100,2.24,GL,1600233980
17,Manggar,-2.88,108.27,84.76,65,24,12.66,ID,1600234368
18,Havelock,34.88,-76.90,69.80,77,90,11.41,US,1600233772
19,Tiksi,71.69,128.87,46.04,67,20,2.75,RU,1600233949
20,Hithadhoo,-0.60,73.08,81.97,71,100,9.69,MV,1600233970
21,Souillac,-20.52,57.52,71.60,49,75,14.99,MU,1600234037
22,Kahului,20.89,-156.47,82.40,54,20,18.34,US,1600233900
23,Cape Town,-33.93,18.42,53.01,87,75,16.11,ZA,1600234096
24,Lüderitz,-26.65,15.16,50.92,69,0,11.18,NaN,1600234025
25,Hilo,19.73,-155.09,78.80,69,20,3.78,US,1600233963
26,Ossora,59.24,163.07,50.16,75,67,4.43,RU,1600234369
27,Dunedin,-45.87,170.50,57.00,66,55,8.99,NZ,1600233741
28,Vaini,-21.20,-175.20,75.20,73,40,13.87,TO,1600233965
29,Allonnes,47.97,0.16,68.00,64,64,5.91,FR,1600234370

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Store 'Lat' and 'Lng' into a variable called 'locations'
locations = city_data_df[["Lat", "Lng"]]

# Store 'Humidity' in a variable called 'Hum_list'
Hum_list = city_data_df["Humidity"].astype(float)

In [19]:
# Create the mapping figure
fig = gmaps.figure()

# Create the heatmap layer using locations and Hum_list
heat_layer = gmaps.heatmap_layer(locations, weights=Hum_list, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=0.9)
# Add heatmap layer to figure
fig.add_layer(heat_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [23]:
#criteria
#A max temperature lower than 80 degrees but higher than 70. Wind speed less than 10 mph. Zero cloudiness.

#getting a DF that meets all criteria

per_wea_df = city_data_df.loc[(city_data_df["Max Temp"]>70)&
                              (city_data_df["Max Temp"]<80)&
                              (city_data_df["Wind Speed"]<10)&
                              (city_data_df["Cloudiness"]==0)]

#dropping any rows with null values
per_wea_df.dropna()

#displaying
per_wea_df.head(25)

,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
31,Rikitea,-23.12,-134.97,73.78,75,0,3.83,PF,1600234370
89,Tingi,-11.30,35.03,72.81,54,0,6.62,TZ,1600234381
109,São Miguel do Araguaia,-13.28,-50.16,73.47,40,0,3.76,BR,1600234387
173,Partyzany,46.33,34.75,71.38,56,0,9.71,UA,1600234403
185,Farah,32.50,62.50,78.19,16,0,4.18,AF,1600234407
221,Chiredzi,-21.05,31.67,77.74,49,0,5.99,ZW,1600234416
327,Belaya Glina,46.07,40.86,72.16,40,0,7.65,RU,1600234446
366,San Quintín,30.48,-115.95,76.78,52,0,7.25,MX,1600234458
445,Lukulu,-14.37,23.24,74.70,40,0,3.78,ZM,1600234451
486,Buşayrā,30.74,35.61,76.84,46,0,0.20,JO,1600234492
509,Ubari,26.59,12.78,73.20,52,0,9.66,LY,1600234499
517,Mahrīz,31.59,54.43,75.20,16,0,2.24,IR,1600234501
530,Merced,37.17,-120.75,75.00,52,0,4.00,US,1600234507
574,Limulunga,-15.10,23.14,74.98,37,0,6.29,ZM,1600234522

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [35]:
#creating Hotel DF
hotel_df = per_wea_df

In [47]:
#setting up for API call
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# set up a dictionary to store all query parameters
params = {
    "radius": 5000,
    "type": "hotel",
    "key": g_key,
}

#looping through to get the near hotels only doing 20 to limit call to API
for index, row in hotel_df.iloc[0:20,:].iterrows():
    #coordinates
    lat = row["Lat"]
    long = row["Lng"]
    location = f"{lat},{long}"
    params["location"] = location
    # run a request using our params dictionary
    response = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        continue

#dropping skipped values 
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace=True)

hotel_df.dropna(subset = ["Hotel Name"], inplace=True)
#displaying
hotel_df.head(20)

,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
31,Rikitea,-23.12,-134.97,73.78,75,0,3.83,PF,1600234370,Rikitea
89,Tingi,-11.30,35.03,72.81,54,0,6.62,TZ,1600234381,Tingi
109,São Miguel do Araguaia,-13.28,-50.16,73.47,40,0,3.76,BR,1600234387,São Miguel do Araguaia
173,Partyzany,46.33,34.75,71.38,56,0,9.71,UA,1600234403,Rivne
221,Chiredzi,-21.05,31.67,77.74,49,0,5.99,ZW,1600234416,Chiredzi
327,Belaya Glina,46.07,40.86,72.16,40,0,7.65,RU,1600234446,Belaya Glina
366,San Quintín,30.48,-115.95,76.78,52,0,7.25,MX,1600234458,Lázaro Cárdenas
445,Lukulu,-14.37,23.24,74.70,40,0,3.78,ZM,1600234451,Lukulu
486,Buşayrā,30.74,35.61,76.84,46,0,0.20,JO,1600234492,At-Tafilah
509,Ubari,26.59,12.78,73.20,52,0,9.66,LY,1600234499,Awbari‎
517,Mahrīz,31.59,54.43,75.20,16,0,2.24,IR,1600234501,Mehriz
530,Merced,37.17,-120.75,75.00,52,0,4.00,US,1600234507,San Luis National Wildlife Refuge
574,Limulunga,-15.10,23.14,74.98,37,0,6.29,ZM,1600234522,Limulunga

In [50]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [52]:
# Add marker layer ontop of heat map
fig.add_layer(gmaps.marker_layer(locations,info_box_content=hotel_info))

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))