# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
#loading the csv file
city_data_df = pd.read_csv('../WeatherPy/output_data/city_data.csv')

#cleaning up the data, dropping a "Unnamed: 0" column
city_data_df = city_data_df.drop(columns="Unnamed: 0")

city_data_df.head()

,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,New Plymouth,-39.07,174.08,57.00,68,12,15.01,NZ,1600234364
1,Kapaa,22.08,-159.32,80.60,69,20,10.29,US,1600233949
2,Atuona,-9.80,-139.03,78.33,76,1,18.63,PF,1600234364
3,Emporia,38.40,-96.18,62.60,88,1,6.93,US,1600234365
4,Fallon,39.47,-118.78,60.80,44,90,5.82,US,1600234365

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Store 'Lat' and 'Lng' into a variable called 'locations'
locations = city_data_df[["Lat", "Lng"]]

# Store 'Humidity' in a variable called 'Hum_list'
Hum_list = city_data_df["Humidity"].astype(float)

In [9]:
# Create the mapping figure
fig = gmaps.figure()

# Create the heatmap layer using locations and Hum_list
heat_layer = gmaps.heatmap_layer(locations, weights=Hum_list, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=0.9)
# Add heatmap layer to figure
fig.add_layer(heat_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
#criteria
#A max temperature lower than 80 degrees but higher than 70. Wind speed less than 10 mph. Zero cloudiness.

#getting a DF that meets all criteria

per_wea_df = city_data_df.loc[(city_data_df["Max Temp"]>70)&
                              (city_data_df["Max Temp"]<80)&
                              (city_data_df["Wind Speed"]<10)&
                              (city_data_df["Cloudiness"]==0)]

#displaying DF
per_wea_df.dropna()
per_wea_df.head()

,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
31,Rikitea,-23.12,-134.97,73.78,75,0,3.83,PF,1600234370
89,Tingi,-11.30,35.03,72.81,54,0,6.62,TZ,1600234381
109,São Miguel do Araguaia,-13.28,-50.16,73.47,40,0,3.76,BR,1600234387
173,Partyzany,46.33,34.75,71.38,56,0,9.71,UA,1600234403
185,Farah,32.50,62.50,78.19,16,0,4.18,AF,1600234407

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure